
<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent">
            </button>
        <a class="navbar-brand" href="/">Vidly</a>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="/Movies/Customer" class="nav-link">Customer</a></li>
                <li class="nav-item"><a href="/Movies/Movie" class="nav-link">Movie</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right mr-auto">
                <li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="/Account/Login" id="loginrLink" class="nav-link">Login</a></li>
            </ul>
           
        </div>
    </div>
</nav>